<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>

<div th:replace="~{fragments :: navbar}"></div>

<div class="container mt-5">

    <h1 class="mb-4">Dashboard</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Cor</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.name}"></td>
            <td th:text="${car.color}"></td>
            <td>
                <form action="/delete-car" method="post">
                <input type="hidden" id="id" name="id" value="${car.id}">
                    <button class="btn btn-primary">
                        <i class="fa fa-user"></i> Delete
                    </button>
                <span> | </span>
                <a href="index.html?id=${car.id}&name=${car.name}">Update</a>
            </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</body>
</html>